<!-- templates/navbar.html -->
<nav class="transparent z-depth-0">
  
    <a href="/" class="brand-logo right" style="font-family: 'Pacifico', cursive;">
      🦙 Bullish Llama
    </a>
  </div>
</nav>

<ul id="slide-out" class="sidenav">
  <li><a href="https://www.screener.in/"><i class="material-icons">insights</i>Screener</a></li>
  <li><a href="https://zerodha.com/open-account"><i class="material-icons">show_chart</i>Open Demat A/c</a></li>
  <li><a href="https://zerodha.com/varsity/"><i class="material-icons">attach_money</i>Learn</a></li>
  <li><a href="{{ url_for('about') }}"><i class="material-icons">info</i>About us</a></li>
</ul>
